.Container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  min-width: 350px;
  margin: 10px;
  border-radius: 5px;
  min-height: 0;
  height: 100%;
  max-height: 100%;
  transition: background-color 350ms ease;

  border: 1px solid;
  font-size: 1em;
}

.Container.scrollable .Content {
  overflow-y: auto;
}

.Content {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-gap: 10px;
  padding: 20px;
  overflow-y: auto;
  /* Force scroll */
  min-height: 0;
  box-sizing: border-box;
  max-height: 100%;
}

.Container.placeholder {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.08);
}

.Container.placeholder:hover {
  border-color: rgba(0, 0, 0, 0.15);
}

.Container.hover {
  background-color: rgb(235, 235, 235, 1);
}

.Container.unstyled {
  overflow: visible;
  background-color: transparent !important;
  border: none !important;
}

.Container.horizontal {
  width: 100%;
}

.Container.horizontal .Content {
  grid-auto-flow: column;
}

.Container.shadow {
  box-shadow: 0 1px 10px 0 rgba(34, 33, 81, 0.1);
}

.Container:focus-visible {
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
}

.Header {
  display: flex;
  padding: 5px 20px;
  padding-right: 8px;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid;
}

.Header:hover .Actions>* {
  opacity: 1 !important;
}

.Actions {
  display: flex;
}

.Actions>*:first-child:not(:last-child) {
  opacity: 0;
}

.Actions>*:first-child:not(:last-child):focus-visible {
  opacity: 1;
}